@import "../fonts/roboto/stylesheet.css";
@import "../lbr/btsrp/bootstrap-grid.min.css";
@import "../lbr/fontawesome/all.min.css";
@import "../lbr/owl/owl.carousel.min.css";
@import "../lbr/owl/owl.theme.default.min.css";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.header {
  position: absolute;
  width: 100%;
  padding-top: 15px;
}
.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__join {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #222222;
}

.home {
  padding-top: 170px;
  padding-bottom: 129px;
}
.home__title {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 68px;
  /* or 106% */
  text-align: center;
  color: #191919;
  max-width: 825px;
  margin: 0 auto 34px;
}
.home__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* or 140% */
  text-align: center;
  margin: 0 auto 36px;
  max-width: 613px;
}
.home-form {
  max-width: 476px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  position: relative;
}
.home-form__label {
  width: 100%;
}
.home-form__email {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #7352FF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 19.9872px;
  padding: 21px 150px 21px 31px;
  outline: none;
}
.home-form__start {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #7352FF;
  border-radius: 21px;
  padding: 21px 40px 21px 49px;
  border: none;
  outline: none;
  cursor: pointer;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  text-align: center;
  color: #FFFFFF;
}

.team-card {
  padding: 24px;
  position: relative;
}
.team-card:hover .team-card__info {
  right: 0;
  bottom: 74px;
  top: initial;
  left: initial;
}
.team-card:hover .team-card__social {
  left: 0;
  bottom: 105px;
  right: initial;
}
.team-card__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.team-card__info {
  position: absolute;
  top: 0;
  left: 0;
  right: initial;
  bottom: initial;
  padding: 8px 16px 12px 12px;
  background: #FFFFFF;
  -webkit-box-shadow: 0 4px 21px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 21px rgba(0, 0, 0, 0.1);
  border-radius: 3.99744px;
}
.team-card__social {
  position: absolute;
  right: 0;
  bottom: 79px;
  padding: 10px 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #FFFFFF;
  -webkit-box-shadow: 0 4px 21px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 21px rgba(0, 0, 0, 0.1);
  border-radius: 3.99744px;
}
.team-card__circle {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 12px;
}
.team-card__circle:last-child {
  margin-bottom: 0;
}
.team-card__circle_black {
  background: #282828;
}
.team-card__circle_purp {
  background: #C13584;
}
.team-card__circle_blue {
  background: #1DA1F2;
}
.team-card__circle_green {
  background: #009771;
}
.team-card__name {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */
  color: #191919;
  margin-bottom: 20px;
  position: relative;
}
.team-card__name::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -12px;
  background: #F7F2E4;
}
.team-card__job {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 10px;
  /* identical to box height, or 100% */
  color: #191919;
}

.leads {
  position: relative;
  margin: -40px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff)) top left/100% 586px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#191919), to(#191919)) bottom;
  background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%) top left/100% 586px no-repeat, linear-gradient(to bottom, #191919 0%, #191919 100%) bottom;
  padding-bottom: 160px;
}
.leads .stat {
  position: relative;
  z-index: 1;
  margin: 0 auto 167px;
  max-width: 1039px;
  height: 695px;
  padding: 50px 6px 6px;
  background: url("../img/leads/stat-bg.png") center/cover no-repeat;
}
.leads .stat .box {
  width: 100%;
  height: 100%;
  overflow: auto;
}
.leads .stat .box::-webkit-scrollbar-track {
  border-radius: 4px;
}
.leads .stat .box::-webkit-scrollbar {
  width: 6px;
}
.leads .stat .box::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: #7349FF;
}
.leads .stat .box:hover::-webkit-scrollbar-thumb {
  background: #7349FF;
}
.leads .stat__img {
  width: 100%;
}
.leads__title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  /* or 120% */
  text-align: center;
  color: #FFFFFF;
  max-width: 525px;
  margin: 0 auto 100px;
}
.leads .owl-carousel {
  margin-bottom: 97px;
}
.leads .owl-carousel .owl-stage-outer {
  padding-top: 20px;
}
.leads .owl-carousel .owl-item {
  height: 390px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.leads .owl-carousel .owl-item .box {
  height: 100%;
}
.leads .owl-carousel .owl-item .box__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.leads .owl-carousel .owl-item.center {
  position: relative;
  margin-top: -20px;
  height: 430px;
}
.leads .owl-carousel .leadsNav {
  margin-top: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.leads .owl-carousel .leadsNav.disabled {
  display: none;
}
.leads .owl-carousel .leadsNav .prevBtn {
  margin-right: 32px;
  width: 48px;
  height: 48px;
  background: url("../img/leads/arr-left.png") center/cover no-repeat;
  cursor: pointer;
}
.leads .owl-carousel .leadsNav .nextBtn {
  width: 48px;
  height: 48px;
  background: url("../img/leads/arr-right.png") center/cover no-repeat;
  cursor: pointer;
}
.leads .featured {
  text-align: center;
}
.leads .featured__title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */
  letter-spacing: 0.559642px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 42px;
}
.leads .featured__img {
  margin-right: 17px;
}
.leads .featured__img:first-child {
  margin-right: 40px;
}
.leads .featured__img:last-child {
  margin-right: 0;
}

.welcome {
  padding: 199px 0 247px;
}
.welcome__title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  text-align: center;
  color: #FF573D;
  margin-bottom: 15px;
}
.welcome__text {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 52px;
  /* or 130% */
  text-align: center;
  color: #191919;
  max-width: 800px;
  margin: 0 auto;
}

.stay {
  background: #F7F2E4;
  padding-top: 100px;
  padding-bottom: 100px;
}
.stay__homeBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  width: 110px;
  height: 44px;
  margin: 0 auto;
  border-radius: 63.959px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 140% */
  text-align: center;
  color: #7352FF;
}
.stay__img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.stay__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #7352FF;
  margin-top: 31px;
}
.stay__title {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 68px;
  text-align: center;
  color: #191919;
  padding-top: 16px;
  width: 797px;
  margin: 0 auto;
}
.stay .without {
  margin-top: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 79px;
}
.stay .without__spreadsheets {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #191919;
  position: relative;
  text-decoration: none;
}
.stay .without__spreadsheets::before {
  content: "";
  border-bottom: 3px solid #F6C672;
  position: absolute;
  width: 195px;
  left: calc(50% - 195px/2 + 0.44px);
  top: calc(50% - 3px/2 + 2.75px);
}
.stay .without__note {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #191919;
  position: relative;
  text-decoration: none;
}
.stay .without__note:before {
  content: "";
  border-bottom: 3px solid #F6C672;
  position: absolute;
  width: 195px;
  left: calc(50% - 195px/2 + 0.44px);
  top: calc(50% - 3px/2 + 2.75px);
}
.stay .without__books {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  color: #191919;
  position: relative;
  text-decoration: none;
}
.stay .without__books:before {
  content: "";
  border-bottom: 3px solid #F6C672;
  position: absolute;
  width: 195px;
  left: calc(50% - 195px/2 + 0.44px);
  top: calc(50% - 3px/2 + 2.75px);
}
.stay .sheet {
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.01);
  border-radius: 11.9923px;
  width: 859px;
  margin: 0 auto 40px;
  padding-right: 24px;
}
.stay .sheet__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 27px;
  padding-bottom: 19px;
  position: relative;
}
.stay .sheet__header::before {
  content: "";
  position: absolute;
  left: 24px;
  bottom: 0;
  width: calc(100% - 48px);
  background: #EDEDED;
  height: 1px;
}
.stay .sheet__title {
  margin-left: 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #191919;
}
.stay .sheet__right-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  text-align: right;
  color: #616A7E;
  width: 50%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.stay .sheet__string {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 14px;
  padding-bottom: 19px;
  position: relative;
}
.stay .sheet__string::before {
  content: "";
  position: absolute;
  left: 24px;
  bottom: 0;
  width: calc(100% - 48px);
  background: #EDEDED;
  height: 1px;
}
.stay .sheet__string:last-child::before {
  display: none;
}
.stay .sheet__paid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.stay .sheet__img {
  margin-left: 24px;
  margin-right: 14px;
}
.stay .sheet__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.stay .sheet__logo {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #191919;
}
.stay .sheet__today {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 17px;
  text-align: center;
  color: #616A7E;
}
.stay .sheet__numb {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 35px;
  color: #191919;
  text-align: center;
}
.stay .works {
  max-width: 859px;
  border: 2px solid #BABEC3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 23.9846px;
  margin: 0 auto;
  padding: 79px 66px 82px;
}
.stay .works__title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  color: #191919;
  width: 294px;
  padding-bottom: 31px;
}
.stay .works__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #616A7F;
}
.stay .works .icon-block {
  max-width: 232px;
  height: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
}
.stay .works .icon-block img {
  width: 40px;
  height: 40px;
  margin-right: 24px;
}
.stay .works .icon-block img:nth-child(4n) {
  margin-right: 0;
}

.payments {
  padding-top: 171px;
  padding-bottom: 173px;
  background: #191919;
}
.payments__payBtn {
  width: 110px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #6EE4B5;
  border-radius: 63.959px;
  margin: 0 auto 31px;
}
.payments__pay {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #2B2A35;
}
.payments__img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
.payments__free {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #6EE4B5;
  text-align: center;
  margin-bottom: 8px;
}
.payments__built {
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 68px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 166px;
}
.payments .box {
  background: #1D1D1D;
  border-radius: 10px;
  padding: 47px 0 0 48px;
  margin-bottom: 20px;
}
.payments .box__title {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #6EE4B5;
  margin-bottom: 11px;
}
.payments .box__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 24px;
  color: #FFFFFF;
  margin-bottom: 87px;
}
.payments .box-img {
  text-align: center;
}
.payments .box_right {
  padding-bottom: 48px;
}
.payments .box_right .box__subtitle {
  margin-bottom: 135px;
}
.payments .box-bottom-left {
  padding-bottom: 150px;
}
.payments .box-bottom-left .box__subtitle {
  margin-bottom: 237px;
}
.payments .block {
  margin-top: 116px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
}
.payments .block .block-left {
  padding-left: 50px;
  width: 50%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.payments .block .block-left .block__title {
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 48px;
  margin-bottom: 30px;
  max-width: 314px;
}
.payments .block .block-left .block__link {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  color: #6EE4B5;
}
.payments .block .block-right {
  width: 50%;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 30px;
}
.payments .block .block-right .block__link {
  margin-bottom: 11px;
}

.splits {
  padding-top: 163px;
  padding-bottom: 171px;
  background: url("../img/split/bg.png") bottom 171px right 0 no-repeat;
}
.splits__topBtn {
  width: 107px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F7F2E4;
  border-radius: 63.959px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto 31px;
}
.splits__topBtn img {
  margin-right: 7px;
}
.splits__subtitle {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 28px;
  /* identical to box height, or 140% */
  text-align: center;
  color: #F6C627;
  margin-bottom: 14px;
}
.splits__title {
  max-width: 854px;
  margin: 0 auto 200px;
  position: relative;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 68px;
  /* or 106% */
  text-align: center;
  color: #191919;
}
.splits__title::before {
  position: absolute;
  bottom: -50px;
  left: -130px;
  content: "";
  width: 260px;
  height: 145px;
  background: url("../img/split/left.png") center/cover no-repeat;
}
.splits__title::after {
  position: absolute;
  bottom: -50px;
  right: -130px;
  content: "";
  width: 260px;
  height: 145px;
  background: url("../img/split/right.png") center/cover no-repeat;
}
.splits__span {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  /* or 150% */
  max-width: 433px;
  margin-bottom: 73px;
  color: #191919;
}
.splits__platforms {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.splits__itemPlatform {
  font-style: normal;
  font-weight: normal;
  padding: 6px 18px 6px 6px;
  font-size: 17px;
  line-height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #FFFFFF;
  border: 1px solid #EDEDED;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  margin-bottom: 20px;
  /* identical to box height, or 140% */
  color: #191919;
}
.splits__itemPlatform img {
  margin-right: 10px;
}
.splits__itemPlatform:last-child {
  margin-bottom: 0;
}
.splits__itemPlatform:first-child {
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */
  letter-spacing: 0.559642px;
  text-transform: uppercase;
  color: #F6C627;
  margin-bottom: 22px;
}

@media (max-width: 1200px) {
  .home {
    padding-top: 140px;
    padding-bottom: 100px;
  }

  .home__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0 auto 30px;
  }

  .home__subtitle {
    font-size: 18px;
    line-height: 25px;
  }

  .home-form {
    max-width: 400px;
  }

  .home-form__email {
    padding: 10px 150px 10px 20px;
  }

  .home-form__start {
    padding: 10px 29px 10px 29px;
  }

  .leads {
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ffffff)) top left/100% 500px no-repeat, -webkit-gradient(linear, left top, left bottom, from(#191919), to(#191919)) bottom;
    background: linear-gradient(to bottom, #ffffff 0%, #ffffff 100%) top left/100% 500px no-repeat, linear-gradient(to bottom, #191919 0%, #191919 100%) bottom;
    padding-bottom: 100px;
  }

  .leads .stat {
    max-width: 900px;
    height: 650px;
    margin: 0 auto 90px;
  }

  .leads__title {
    font-size: 35px;
    line-height: 40px;
    margin: 0 auto 65px;
  }

  .leads .owl-carousel {
    margin-bottom: 65px;
  }

  .leads .owl-carousel .leadsNav {
    margin-top: 65px;
  }

  .welcome {
    padding: 110px 0 160px;
  }

  .welcome__text {
    font-size: 35px;
    line-height: 45px;
  }

  .stay {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .stay__subtitle {
    font-size: 18px;
    line-height: 20px;
  }

  .stay__title {
    font-size: 50px;
    line-height: 60px;
    width: 100%;
    max-width: 710px;
  }

  .stay .without {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .payments {
    padding-top: 80px;
    padding-bottom: 90px;
  }

  .payments__built {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 80px;
  }

  .payments .box {
    padding: 30px 0 0 30px;
  }

  .payments .box_right {
    padding-bottom: 48px;
  }

  .payments .box-bottom-left {
    padding-bottom: 150px;
  }

  .payments .block {
    margin-top: 50px;
  }
}
.priority {
  padding-top: 302px;
  padding-bottom: 212px;
  background: #191919 url("../img/priority/bg-left.png") top left no-repeat;
}
.priority .list {
  list-style-type: none;
  padding-left: 0;
}
.priority .list-items {
  padding-left: 29px;
  background: url("../img/priority/check.png") top left/21px 16px no-repeat;
}
/*# sourceMappingURL=style.css.map */