.header{
  position: absolute;
  width: 100%;
  padding-top: 15px;
  .container{
    display: flex;
    justify-content: space-between;
  }
  &__join{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
  }
}