.payments {
  padding-top: 171px;
  padding-bottom: 173px;
  background: #191919;

  &__payBtn {
    width: 110px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6EE4B5;
    border-radius: 63.959px;
    margin: 0 auto 31px;
  }

  &__pay {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #2B2A35;
  }

  &__img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
  }

  &__free {
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
    color: #6EE4B5;
    text-align: center;
    margin-bottom: 8px;
  }

  &__built {
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 68px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 166px;
  }

  .box {
    background: #1D1D1D;
    border-radius: 10px;
    padding: 47px 0 0 48px;
    margin-bottom: 20px;

    &__title {
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 28px;
      color: #6EE4B5;
      margin-bottom: 11px;
    }

    &__subtitle {
      font-style: normal;
      font-weight: normal;
      font-size: 11px;
      line-height: 24px;
      color: #FFFFFF;
      margin-bottom: 87px;
    }

    &-img {
      text-align: center;
    }

    &_right {
      .box__subtitle {
        margin-bottom: 135px;
      }

      padding-bottom: 48px;
    }

    &-bottom-left {
      padding-bottom: 150px;

      .box__subtitle {
        margin-bottom: 237px;
      }
    }

  }
  .block {
    margin-top: 116px;
    display: flex;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 36px;
    color: #FFFFFF;

    .block-left {
      padding-left: 50px;
      width: 50%;
      justify-content: flex-start;
      flex-direction: column;

      .block__title {
        font-style: normal;
        font-weight: normal;
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 30px;
        max-width: 314px;
      }

      .block__link {
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 28px;
        color: #6EE4B5;
      }
    }

    .block-right {
      width: 50%;
      align-content: flex-start;
      flex-direction: column;
      padding-left: 30px;

      .block__link {
        margin-bottom: 11px;
      }

    }

  }
}


