.team{
  &-card{
    padding: 24px;
    position: relative;
    &:hover{
      .team-card__info{
        right: 0;
        bottom: 74px;
        top: initial;
        left: initial;
      }
      .team-card__social{
        left: 0;
        bottom: 105px;
        right: initial;
      }
    }
    &__img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__info{
      position: absolute;
      top: 0;
      left: 0;
      right: initial;
      bottom: initial;
      padding: 8px 16px 12px 12px;
      background: #FFFFFF;
      box-shadow: 0 4px 21px rgba(0, 0, 0, 0.1);
      border-radius: 3.99744px;
    }
    &__social{
      position: absolute;
      right: 0;
      bottom: 79px;
      padding: 10px 12px;
      display: flex;
      flex-direction: column;
      background: #FFFFFF;
      box-shadow: 0 4px 21px rgba(0, 0, 0, 0.1);
      border-radius: 3.99744px;
    }
    &__circle{
      width: 28px;
      height: 28px;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 12px;
      &:last-child{
        margin-bottom: 0;
      }
      &_black{
        background: #282828;
      }
      &_purp{
        background: #C13584;
      }
      &_blue{
        background: #1DA1F2;
      }
      &_green{
        background: #009771;
      }
    }
    &__name{
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 12px;
      /* identical to box height, or 100% */


      color: #191919;
      margin-bottom: 20px;
      position: relative;
      &::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -12px;
        background: #F7F2E4;
      }
    }
    &__job{
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 10px;
      /* identical to box height, or 100% */


      color: #191919;
    }
  }
}